@page "/"

<h1>Авиакомпания</h1>
<AuthorizeView>
    <Authorized>
        <div class="alert alert-primary">
            Добро пожаловать в систему
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="alert alert-warning" role="alert">
            Прежде чем воспользоваться приложением войдите в систему
        </div>
    </NotAuthorized>
</AuthorizeView>


